body {
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
}

p {
    margin-top: 12px;
    margin-bottom: 12px;
}

.board {
    width: 4.125in;
    height: 4.125in;
    display: flex;
    flex-direction: column;
    page-break-after: always;
}

.boardrow {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.boardblock {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    flex: 1;
}

.blockrow {
    display: flex;
    flex-direction: row;
    flex: 1;
}
.blockentry {
    display: flex;
    border: 1px solid black;
    flex: 1;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

